<h1 class="nav" style="background-color:blueviolet; color:antiquewhite">
  🇼‌🇪‌🇱‌🇨‌🇴‌🇲‌🇪‌ 🇹‌🇴‌ 🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home">Log out</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/docter-info">Doctors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/patient-info">Patients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/booking-appointment">New Appointment</a>
  </li>
</ul>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Doctor ID</th>
      <th scope="col">Doctor Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Specialization</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of docterData">
      <td>{{row.id}}</td>
      <td>{{row.docterName}}</td>
      <td>{{row.mobile}}</td>
      <td>{{row.age}}</td>
      <td>{{row.gender}}</td>
      <td>{{row.specialization}}</td>
    </tr>
  </tbody>
</table>


