<h1 class="nav" style="background-color:blueviolet; color:antiquewhite">
  🇼‌🇪‌🇱‌🇨‌🇴‌🇲‌🇪‌ 🇹‌🇴‌ 🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
</h1>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/admin">Admin</a>
  </li>
</ul>
<div class="container">
<img src="assets/woman-2141808.jpg" style="width:100%">
  <div style="position:absolute;top:60%;left:30%;transform:translate(-50%,-50%);">
    <h3>𝓦𝓮 𝓪𝓻𝓮 𝓱𝓮𝓻𝓮 𝓽𝓸 𝓽𝓪𝓴𝓮 𝓬𝓪𝓻𝓮<br /> 𝓸𝓯 𝔂𝓸𝓾𝓻 𝓱𝓮𝓪𝓵𝓽𝓱</h3>
  </div>
<div style="position: absolute; top: 80%; left: 30%; transform: translate(-50%, -50%);"><div class="btn-group">
  <a routerLink="/booking-appointment" class="btn btn-primary active" aria-current="page">Book an Appointment</a>
</div></div>
 </div>
